.nav {
  display: flex;
  justify-content: space-between;
  background: black;
  height:60px;
  margin: 0px;
}

.nav h1 {
  color: whitesmoke;
  margin: 10px;
  font-size: 30px;
  font-family: cursive,Arial, Helvetica, sans-serif;
}
.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.nav .nav-search input {
    flex: 1;
    color: whitesmoke;
    border: 1px solid white;
    height: 39px;
    border-right: none;
}

.nav .nav-search button{
    color: white;
    border: 1px solid violet;
    height: 39px;
}

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    padding:10px;
}

h1 a{
  color: white;
  text-decoration: none;
}

.suggested-search{
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-search li {
  padding:5px;
  border: 1px solid #ddd;
}
.suggested-search li a{
  cursor: pointer;
  color: white;
}