<section id="about-us" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="display-4">About Us</h2>
          <p>Welcome to Cake Shop, where we bake the most delicious and mouth-watering cakes for every occasion. Our
            passion for baking is evident in every slice. We believe that a cake is not just a dessert; it's a piece of
            art that brings joy and happiness to your special moments.</p>
          <p>At Cake Shop, we use only the finest ingredients and the most innovative techniques to create cakes that
            are not only visually stunning but also delight your taste buds. From classic flavors to unique
            combinations, our wide range of cakes offers something for everyone.</p>
          <p>Whether you're celebrating a birthday, wedding, anniversary, or any other milestone, our dedicated team of
            bakers and decorators will work closely with you to bring your cake vision to life. We take pride in
            delivering cakes that not only look amazing but also exceed your expectations in taste and quality.</p>
        </div>
        <div class="col-md-6">
          <img width="500" height="200"src="https://content.jdmagicbox.com/comp/rohtas/p9/9999p6188.6188.220624115328.j2p9/catalogue/-goh6xo2pzp.jpg" alt="Cake Shop" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
