.product-header-image{
    /* object-fit: contain; */
    width: 100%;
    height: 600px;
}
.product-item{
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 10px;
    border: 1px solid #ccc;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.product-item img{
    width: 100%;
    height: 250px;
    /* object-fit: contain; */
}
.product-list-wrapper{
    background: skyblue;
}
.product-item .product-details {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.aa{
  color: whitesmoke;
  margin: 10px;
  font-size: 30px;
  font-family: cursive,Arial, Helvetica, sans-serif;
}
.product-item .name-head{
    font-size: 20px;
    font-weight: 600;
}
.product-item h6{
    text-align: center;
}
.product-item .product-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}